Media types reviewer could use more language

Section 5.4 contains both the definition of the media types reviewer, the media types reviewer's role in the registration procedure, and the appeals procedure for decisions.

This could probably be broken into separate sections:

- A section defining the media types reviewer, what its role is and who appoints people to the role (perhaps a part of section 2). We may want to call out that this is a "designated expert" in the terminology of RFC 8126 section 4.5 (IANA considerations guidelines). That's also a good place to say that "there is one role, but the number of people filling it is at the discretion of the appointing body".
- A section on the role of the media types reviwer in the review process (section 5.4 is as good a place as anything)

The idea that decisions by the MTR can be appealed probably can go in either section.



Cross-linking #42 since the subject matter overlaps.
