What's the correct appeals procedure for DE decisions?

From Murray Kucherawy (mailing list Nov 8):

RFC 6838 Section 5.3 creates an appeal process by referencing RFC 2026 Section 6.5.4 and saying that appeals go to the IESG.  That specific part of RFC 2026 suggest the appeal process being established appears to me to boil down to:

* the appeal goes to the IESG, and there's no escalation available past that
* the appeal must provide adequate detail
* the appeal must be filed within two months of the DE's decision
* the IESG has discretion to process the appeal however it wants
* the IESG has to complete its review and deliver its decision in a reasonable amount of time

...or at least that's how I read it.  Maybe I'm being too pedantic but I also note that RFC 2026 Section 6.5.4 is subordinate to Section 6.5, which says that it (and its subsections) apply to decisions that are made as part of the standards process using consensus development, and decisions of a DE do not meet that definition.  It doesn't look to me like 6.5.4 was meant to be referenced or incorporated in this way.

I suggest this is something the WG should review and decide whether it wants to keep this as-is or perhaps say something more explicit and crisp.



Notes:
- So far we have no appeals (AFAIK), so we don't know if the process works.
- I believe the choice to point to 6.5.4 directly was deliberately done as "we are reusing the appeals process for a different purpose than what it was originally written for"
- 6.5.4 doesn't specify the appeals chain; I believe the idea was that the response to an appeal under 6.5.4 would be an IESG action, which could then be appealed using the appeals chain in 6.5.2.


This may be an IANABIS problem.


Given that we haven't had any appeals yet and this appears to be workable at least on the face of it, close with no action?